.Container{
  max-width: 400px;
  min-height: 400px;
  margin:0;
  background-color: #efefef;
  box-shodow: 0 0 10px gray;
  margin-top: 50px; 
  padding: 15px 50px;

}
.text-center{
  text-align: center;
}

.expense-tracker{
  display:flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.transaction-form{
  width:100%;
  margin:5px 0;
  padding:5px 5px;
}
.transaction-list{
  margin:0;
  padding:0;
 
}
.transaction-list > li {
  display:flex;
  justify-content: space-around;
  box-shadow:0 0 10px gray;
  padding: 10px 5px;
  background-color: white;
  margin:5px 0;
  border-radius: 4px;


}